doctype html 
html.
 <head>
  <link rel="stylesheet" href=".../public/stylesheets/style.css"><br><br>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login Page </title>
  <style>
      body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; 
      align-items: left; 
      min-height: 100vh; 
     }

     .container {
      width: 300px; 
      height: 200px;
      background-color: #f0f0f0; 
      text-align: left; 
      padding: 20px; 
     }
     body {
     margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
    }

    .move-up {
    position: absolute;
    top: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
   }
   .move-up-1{
    position: absolute;
    top: 130px; 
    left: 50%; 
   transform: translateX(-50%); 
   }
  </style>
 </head>  
 <body>  
    <h1 class="move-up">Welcome to Lets Chat!</h1> 
    <h3 class="move-up-1">A place,where you can chat with your loved ones</h3>
    <form>
        <div class="container"> 
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required><br>
            <label>Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button> 
            <button type="submit">Sign up</button>
        </div> 
    </form>   
 </body>   
  